<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{tab.title}">_offline_</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>
</head>
    <body class="text-center">
    <main class="form-signin">
        <form method="POST">
            <h3 class="h3 mb-3 fw-normal" th:text="#{tab.title}">Offline title</h3>
            <h4 class="h4 mb-3 fw-normal" th:text="#{page.subtitle}">Offline subtitle</h4>
            <label for="mrate" th:text="#{label}"> Maximum heart rate:</label><br>
            <input class="form-control" type="text" id="mrate" name="mrate" th:field="${heartrate}"/>
            <input class="btn btn-primary mb-3" type="submit" value="Submit"/>
        </form>
    </main>
    </body>
</html>


