<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Species-listing</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>Birds</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="bird:${birds}" th:object="${bird}" >
            <td> <img th:src="@{*{pictureLoc}}" width="100" height="100"></td>
            <td type="hidden" th:name="birdname" th:id="birdname" th:value="${bird.englishName}"></td>
            <td><a  th:href="@{'/species.detail'(species=${bird.englishName})}" th:text="${bird.scientific_name}" ></a></td>
        </tr>
    </tbody>
</table>

<div th:insert="template.html :: pageHistory"></div>

</body>
</html>