<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${birdname}"></title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>
</head>
<body>
<h1 th:text="${birdname}"> </h1>
<div th:each="bird:${birds}" th:object="${bird}" th:if="${bird.englishName == birdname}">
    <ol>
        <li th:switch="__${#locale.language}__">
            <span th:case="${'en'}"
                  th:text="'English name: ' + *{englishName} + ' (' + *{scientific_name} + ')'">_admin_</span>
            <span th:case="${'ne'}"
                  th:text="'Nederlandse naam: ' + *{dutchName} + ' (' + *{scientific_name} + ') can browse and share all site content'">_user_</span>
        </li>
    </ol>
</div>

<div th:insert="template.html :: pageHistory"></div>


    <div th:object="${#session.getAttribute(#session.attributeNames.nextElement())}">
        <div th:if="*{ROLE.toString() == 'ADMIN'}">
            <button>edit</button>
        </div>
    </div>

</body>
</html>