<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="pageHistory">
        <h3 th:text="#{'pageHistory'}">__pagehistory__</h3>

        <div th:if="*{not session.history.isEmpty()}" th:each="page : *{session.history}">
            <ul>
                <li><span th:text="${page}">help</span></li>
            </ul>
        </div>
    </div>

</body>
</html>